.section-header {
  text-transform: uppercase;
  text-align: center;
  color: #333;
  padding-bottom: 25px;
  margin-top: 25px;
}

.header {
  background-color: #333;
}
.header .navbar {
  display: flex;
  height: 80px;
  line-height: 80px;
  width: 100%;
  font-size: 18px;
}
.header .navbar .navbar-brand {
  font-weight: 600;
  color: #ddd;
  text-transform: uppercase;
  display: inline-block;
}
.header .navbar .navbar-menu {
  display: inline-block;
  list-style: none;
  position: absolute;
  right: 35px;
}
.header .navbar .navbar-menu .menu-item {
  float: left;
  margin-right: 15px;
}
.header .navbar .navbar-menu .menu-item .menu-link {
  color: #ddd;
  opacity: 0.6;
  transition: opacity 200ms;
}
.header .navbar .navbar-menu .menu-item .menu-link:hover {
  opacity: 1;
}
.header .jumbo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 25em;
}
.header .jumbo > h1 {
  color: #ddd;
  font-weight: 700;
  text-transform: uppercase;
}
.header .jumbo > a {
  border: 1px solid #ddd;
  border-radius: 100%;
  color: #ddd;
  font-size: 1.5em;
  padding: 12.5px 25px;
  padding-top: 14px;
  background: transparent;
  transition: background 200ms;
}
.header .jumbo > a:hover {
  background: rgba(221, 221, 221, 0.5);
}

.features {
  margin-top: 50px;
}
.features .column {
  text-align: center;
}
.features .fa {
  background-color: #333;
  color: #ddd;
  font-size: 1.5em;
  border-radius: 100%;
  padding: 25px;
  margin-bottom: 15px;
}
.features .feature-title {
  font-weight: 700;
}
.features .feature-body {
  font-size: 14px;
  margin-top: -15px;
}

.how-it-works .steps .step {
  height: 60px;
  line-height: 60px;
  margin-bottom: 50px;
}
.how-it-works .steps .step .step-number {
  background-color: #333;
  font-weight: 700;
  font-size: 1.5em;
  border-radius: 100%;
  padding: 15px 25px;
  color: #ddd;
}
.how-it-works .steps .step .step-details {
  display: inline-block;
}

.buy-now {
  text-align: center;
  padding-bottom: 50px;
}
.buy-now > p {
  font-size: 1.5em;
}
.buy-now .buy-btn {
  background-color: #333;
  color: #ddd;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 5px;
  height: 45px;
  line-height: 45px;
  display: block;
  text-align: center;
  transition: background-color 200ms;
}
.buy-now .buy-btn:hover {
  background-color: #404040;
}
